#container { 
    background-color: lightgrey;
    
    
}
h1 {
    text-align: center;
    background-color: darkcyan;
}

.contentContainer {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-evenly;
}

 .fishList{ 
    background-color: cadetblue;
    border-style: double;
    border-color: honeydew;
    
}
.fish, .fish2, .fish3 {
    border-style: solid;  
}
.fishGroup {
    background-color: coral;
}


.travel {
    background-color: coral;
    border-style: double;
    border-color: honeydew;
}
.travel__quotes {
    border-style: dotted;
    background-color: gray;
}
.travel__locations {
    border-style: dotted;
    background-color: burlywood;
}

.tipList {
    
    border-style: double;
    border-color: honeydew;
    border-width: 10px 10px;
    
} 
