#container { 
    background-color: aqua;
    
    
}
h1 {
    text-align: center;
    background-color: mediumorchid;
}

.contentContainer {
    display: flex;
}

 .fishList{ 
    display: flex;
    flex-flow: column wrap;
    align-content: space-around;
    background-color: greenyellow;
    border-style: double;
    border-color: honeydew;
    
}
.fish, .fish2, .fish3 {
    border-style: solid;  
}
.fishGroup {
    background-color: orange;
}


.travel {
    display: flex;
    flex-flow: column wrap;
    align-content: space-around;
    background-color: maroon;
    border-style: double;
    border-color: honeydew;
}
.travel__quotes {
    border-style: dotted;
    background-color: gray;
}
.travel__locations {
    border-style: dotted;
    background-color: burlywood;
}

.tipList {
    flex-direction: column;
    justify-content: flex-end;
    border-style: double;
    border-color: honeydew;
} 
